APP_NAME="SubTrack Bot"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE=Asia/Jakarta
APP_URL=http://localhost:8000

DB_CONNECTION=sqlite
# DB_CONNECTION=mysql
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_DATABASE=wa_subtrack
# DB_USERNAME=root
# DB_PASSWORD=

SESSION_DRIVER=database
QUEUE_CONNECTION=database

# WhatsApp API (Fonnte)
WHATSAPP_API_URL=https://api.fonnte.com/send
WHATSAPP_TOKEN=
